<%- include ('../templates/header') %>
<div>

  <div class="container mt-5 mx-auto">
      <table class="shadow-lg">
        <thead>
          <tr>
            <th
              class="bg-blue-400 text-white border-b-2 rounded-tl-md text-left px-8 py-4"
            >
              No
            </th>
            <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">Title</th>
            <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">ISBN</th>
            <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">Author</th>
            <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">
              Publisher
            </th>
            <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">Released</th>
            <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">Stock</th>
            <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">Cover</th>
            <th
              class="bg-blue-400 text-white border-b-2 rounded-tr-md text-left px-8 py-4"
            >
              Action
            </th>
          </tr>
        </thead>
        <% books.forEach(function (book) { %>
        <tbody>
          <tr>
            <td class="border-b-2 text-gray-700 px-8 py-4">*</td>
            <td class="border-b-2 text-gray-700 px-8 py-4"><%= book.title %></td>
            <td class="border-b-2 text-gray-700 px-8 py-4"><%= book.isbn %></td>
            <td class="border-b-2 text-gray-700 px-8 py-4"><%= book.author %></td>
            <td class="border-b-2 text-gray-700 px-8 py-4"><%= book.publisher %></td>
            <td class="border-b-2 text-gray-700 px-8 py-4"><%= book.released %></td>
            <td class="border-b-2 text-gray-700 px-8 py-4"><%= book.stock %></td>
            <td class="border-b-2 text-gray-700 px-8 py-4"><%= book.stock %></td>
            <td class="border-b-2 text-gray-700 px-8 py-4">
              <a
                href="/books/edit/<%= book.id%>"
                class="bg-blue-400 text-white rounded-lg p-2 shadow-md hover:bg-blue-700"
                >Edit</a
              >
              <a
                href="#"
                class="bg-red-400 text-white rounded-lg p-2 hover:bg-red-700"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
        <% }) %>
      </table>
    </div>
  </div>
</div>
<%- include ('../templates/footer')%>
