<%- include ('../templates/header.ejs') %>

<div class="container mx-auto mt-5">
  <a
    href="/users/create"
    class="mt-3 mb-3 rounded bg-blue-400 p-2 text-white hover:bg-blue-700"
    >New</a
  >
  <table class="shadow-lg mt-3">
    <thead
      class="bg-blue-400 text-white border-b-2 rounded-tl-md text-left px-8 py-4"
    >
      <tr>
        <th
          class="bg-blue-400 text-white border-b-2 rounded-tl-md text-left px-8 py-4"
        >
          No
        </th>
        <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">
          Name
        </th>
        <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">
          UID
        </th>
        <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">
          Address
        </th>
        <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">
          Phone
        </th>
        <th class="bg-blue-400 text-white border-b-2 text-left px-8 py-4">
          Photo
        </th>
        <th
          class="bg-blue-400 text-white border-b-2 rounded-tr-md text-left px-8 py-4"
          colspan="2"
        >
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function (user) { %>
      <tr>
        <td class="border-b-2 text-gray-700 px-8 py-4">*</td>
        <td class="border-b-2 text-gray-700 px-8 py-4"><%= user.fullname %></td>
        <td class="border-b-2 text-gray-700 px-8 py-4"><%= user.uid %></td>
        <td class="border-b-2 text-gray-700 px-8 py-4"><%= user.address %></td>
        <td class="border-b-2 text-gray-700 px-8 py-4"><%= user.phone %></td>
        <td class="border-b-2 text-gray-700 px-8 py-4"><%= user.photo %></td>
        <td class="border-b-2 text-gray-700 px-8 py-4">
          <a
            href="<%= baseUrl %>/users/edit/<%= user.id %>  "
            class="rounded bg-blue-400 text-white p-2 shadow-md hover:bg-blue-700"
            >Profile</a
          >
        </td>
        <td class="border-b-2 text-gray-700 px-8 py-4">
          <form
            action="<%= baseUrl %>/users/delete/<%= user.id %>"
            method="post"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button
              type="submit"
              class="rounded bg-red-400 text-white p-2 shadows-md hover:bg-red-700"
              onclick="confirm('hapus data ?')"
            >
              Delete
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../templates/footer.ejs') %>
